@charset "UTF-8";
/* CSS Document */
/* Carbon (updated from Pluto) */

body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 0.75em;
	color: #eee;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color: #000;}
.wrapper {
	margin-left: 1%;
	position: relative;
	z-index: 1;}
h1 {
	font-weight: 600;
	font-size: 1.25em;
	margin-bottom: -0.4em;}
p {
	color: #eee;
	font-size: small;}
p a:link {
    text-decoration: none;
	color: inherit;}
p a:visited { 
	text-decoration: none; 
	color: inherit;}
p a:hover {
	text-decoration: none;
	color: #FF8900;}

/* waterfall effect background */

.background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-animation: flight 60s linear infinite;
	animation: flight 60s linear infinite;}
.background img {
	width: 100%;
	margin: 0;
	display: block;
	border: 0;}
@-webkit-keyframes flight {
0% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);}
100% {
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);}
}
@keyframes flight {
0% {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);}
100% {
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);}
}

/* Adjustments for small and large screens */

@media (max-width: 400px) {
}
@media (min-width: 400px and max-width: 640px) {
.background {
	-webkit-animation-duration: 30s;
	animation-duration: 30s;}
}
@media (min-width: 1280px) {
.background {
	-webkit-animation-duration: 80s;
	animation-duration: 80s;}
}