@charset "UTF-8";
/* CSS Document */

/* beep beep boop proto roboto! */

body            {letter-spacing: 0.1px; padding: 0; margin: 0; font-family: Courier, Monospace; 
                font-weight: 400; font-size: 17px; color: #444; min-height: 100%; background: #fff;}
html            {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
pre             {padding: 0; margin: 0;}
h1              {margin: 10px 0 25px 0; font-weight: 300; font-size: 30px; letter-spacing: .75em; max-width: 50%;}
ul              {padding: 0;}
span            {padding: 0; margin: 0 10px 0 0;}
li              {margin: 15px 0; padding: 0; list-style: none;}
a               {color: #444; transition-duration: 0.2s;}
a:hover         {color: #000; font-weight:500;}
p               {padding: 0; margin: 20px 0 20px 0;}
img             {max-width: 100%; margin-bottom: 20px;}

#page           {max-width: 100%; min-height: 100%; margin: auto; padding: 35px 60px;}
#content        {width: 100%;}
#header,#footer {width: 100%; overflow: hidden; letter-spacing: 0px;}

#list           {margin-bottom: 20px; margin-top: 20px;}
#post           {max-width: 720px; margin-bottom: 20px; margin-top: -10px; line-height: 28px;}

.X              {margin:0 5px}
.title          {display: inline-block; margin-bottom: 20px; margin-top: 20px;}
.filter         {display:block; margin-bottom: 20px; margin-top: 20px;}
.description    {background: #fff; padding: 10px 0 10px 10px; margin-top: 0px;}
.videowrapper   {position: relative; padding-bottom: 56.45%; height: 0;}
.videowrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0);}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 700px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}