@charset "UTF-8";
/* CSS Document */
/* GEOLOEB */


body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #fff;}

.topnav a:link {
    text-decoration: none;
	color: inherit;}
.topnav a:visited { 
	text-decoration: none; 
	color: inherit;}
.topnav {
	line-height: 120%;}	

.nav a:link {
    text-decoration: none;
	color: inherit;}
.nav a:visited { 
	text-decoration: none; 
	color: inherit;}
.nav {
	line-height: 60%;}

.mirror-text {
  transform: scaleX(-1);
  display: inline-block;}

.bwimg img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);}

h1 {
	font-weight: 600;
	font-size: 1.25em;
	margin-bottom: -0.4em;}
p {
	color: #333;}
