@charset "UTF-8";
/* CSS Document */
/* GEOLOEB */


body {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #ffffff;}

.nav a:link {
    text-decoration: none;
	color: inherit;}
.nav a:visited { 
	text-decoration: none; 
	color: inherit;}

h1 {
	font-weight: 600;
	font-size: 1.25em;
	margin-bottom: -0.4em;}
p {
	color: #333;}
